<div class="cell banner">
    <div class="grid-x align-center-middle">
        <div class="cell text-center">
            <div class="grid-y banner-content">
                <h1 class="cell">{{ page.banner-title }}</h1>
                <p class="cell" style="color:#fff; font-size:1.4rem;">{{ page.banner-description }}</p>
                <div class="cell">
                    <a class="cta-link large white-on-color" style="color:#fff;" href="{{ page.banner-button-url }}" target="_blank">{{ page.banner-button-text }}</a>
                </div>
            </div>
        </div>
    </div>
</div>