<body class="ncar">
<div class="body-content" id="main-content">
    <section class="panel primary-content">
        <div class="grid-x align-center">
            <div class="cell medium-8 large-9">
                <article role="article" class="content">
                    {{ content }}
                </article>
            </div>
            <div class="cell medium-4 large-3 sidebar">
                <div class="grid-y sidebar-breadcrumb">
                    <div class="cell">
                        <ul class="grid-y vertical menu">
                            <li class="cell">
                                <a href="" class="cell home"><i class="fa fa-home"></i><span>Home</span></a>
                            </li>
                            <li class="cell">
                                <a href="/what-we-do"><i class="fa fa-circle-o"></i><span>What we do</span></a>
                            </li>
                            <li class="cell active">
                                <a href="/what-we-do/university-collaboration"><i class="fa fa-bullseye"></i><span>University collaboration</span></a>
                                <ul class="grid-y">
                                    <li class="cell"><a href="/what-we-do/university-collaboration/uvisit"><i class="fa fa-circle"></i><span>UVisit</span></a></li>
                                    <li class="cell"><a href="/what-we-do/university-collaboration/ucar-update"><i class="fa fa-circle"></i><span>UCAR Update</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>