<footer>
    <div class="grid-x grid-padding-y footer-sponsor">
        <div class="cell">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="cell small-auto medium-10 description">
                        <p>The National Center for Atmospheric Research is sponsored by the National Science Foundation. Any opinions, findings and conclusions or recommendations expressed in this material do not necessarily reflect the views of the National Science Foundation.</p>
                    </div>
                    <div class="cell small-3 medium-2 mlarge-1 logo">
                        <a href="https://www.nsf.gov/" target="_blank"><img src={{ site.github.baseurl }}{{ "assets/koru-base/img/footer-logo-nsf.png" | relative_url }} alt="National Science Foundation"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>