<head>
  <meta charset="utf-8">
  <meta name="title" content="{{ page.title }}">
  <meta name="description" content="UCAR">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta class="foundation-mq">
  <link rel="canonical" href="https://www.ucar.edu/">
  <link rel="shortcut icon" href="{{ site.github.baseurl }}{{ 'assets/koru-base/img/app-favicons/ncar/favicon.ico' | relative_url }}">

  <title>{{ page.title }} | {{ site.title }}</title>

  <link rel="stylesheet" href="{{ site.github.baseurl }}{{ 'assets/koru-base/css/foundation.min.css' | relative_url }}" media="all">
  <link rel="stylesheet" href="{{ site.github.baseurl }}{{ 'assets/css/styles.css' | relative_url }}" media="all">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Poppins:400,600,700" media="all">
</head>
