@mixin pseudo-element {
  content: '';
  position: absolute;
}

@mixin radial-gradient ($inside, $outside) {
  background: $inside radial-gradient(ellipse at center, $inside 0%, $outside 100%);
}

@mixin linear-gradient ($position, $top, $bottom) {
  background: $top linear-gradient(to $position, $top 0%, $bottom 100%);
}

@mixin banner-default-heights {
  padding: 1.5rem 0;

  @media only screen and (min-width: map-get($custom-breakpoints, 'medium')) {
    padding: 3rem 0;
  }
}

@mixin banner-image-heights {
  @include banner-default-heights;

  @media only screen and (min-width: map-get($custom-breakpoints, 'large')) {
    padding: 5rem 0;
  }
}

@mixin button-arrow ($color, $width) {
  border-color: $color;
  border-style: solid;
  border-width: $width;
}

// typography mixins
@mixin fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  transform: translate(0, 0);
}

@mixin uppercase {
  letter-spacing: .05em;
  text-transform: uppercase;
}

@mixin sentence-case {
  letter-spacing: normal;
  text-transform: none;
}

// Heading font weights
@mixin heading-semi-bold {
  font-weight: map-get($font-weights, 'semi-bold');
  line-height: 1.05;
}

@mixin heading-bold {
  font-weight: map-get($font-weights, 'bold');
  line-height: 1.05;
}

// Heading font sizes
@mixin heading-xxsmall {
  @include uppercase;
  font-size: map-get($font-sizes, 'xxsmall');
  line-height: 1.2;
}

@mixin heading-xsmall {
  @include uppercase;
  font-size: map-get($font-sizes, 'xsmall');
  line-height: 1.3;
}

@mixin heading-small {
  @include uppercase;
  font-size: map-get($font-sizes, 'small');
}

@mixin heading-medium {
  @include heading-small;

  @media only screen and (min-width: map-get($custom-breakpoints, 'medium')) {
    font-size: map-get($font-sizes, 'medium');
  }
}

@mixin heading-mlarge {
  @include heading-medium;

  @media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
    font-size: map-get($font-sizes, 'mlarge');
  }
}

@mixin body-large {
  font-size: map-get($font-sizes, 'xsmall');
  line-height: 1.3;

  @media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
    font-size: 1.6rem;
  }

  @media only screen and (min-width: map-get($custom-breakpoints, 'xlarge')) {
    font-size: 1.8rem;
  }
}

@mixin text-shadow ($color) {
  text-shadow: 0 0 1.875rem $color;
}
