b,
strong {
  font-weight: map-get($font-weights, 'semi-bold');
  letter-spacing: .05em;
}

blockquote {
  @include body-large;
  border: 0;
  color: map-get($colors, 'darkest-gray');

  p {
    @include body-large;
    color: map-get($colors, 'darkest-gray');
  }
}

body {
  font-family: map-get($font-families, 'poppins');
  font-size: map-get($font-sizes, 'xxsmall');
}

h1 {
  @include heading-large;
  @include heading-bold;
}

h2 {
  @include heading-mlarge;
  @include heading-semi-bold;
}

h3 {
  @include heading-medium;
  @include heading-bold;
}

h4 {
  @include heading-small;
  @include heading-semi-bold;
}

h5,
h6 {
  @include heading-xsmall;
  @include heading-semi-bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  font-family: map-get($font-families, 'poppins');
  margin-bottom: .75rem;
  margin-top: 1rem;
}

header {
  .menu {
    a {
      @include uppercase;
      font-family: map-get($font-families, 'poppins');
      font-weight: map-get($font-weights, 'bold');
    }
  }
}

ol,
ul {
  ul {
    list-style-type: circle;
  }

  ul,
  ol {
    margin-top: 0;
    padding-left: .625rem;
  }
}

// typography utility classes
.date {
  @include uppercase;
  font-size: .875rem;
  font-weight: map-get($font-weights, 'regular');
}

.heading-xsmall-normal {
  @include heading-xxsmall;
}

.primary-content {
  blockquote {
    @include body-large;

    p {
      @include body-large;
    }
  }
}

.panel-title {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include heading-bold;
    @include heading-medium;
  }

  p {
    @include body-large;
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'medium')) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
  .main-nav > ul {
    &.menu > li {
      > a {
        font-size: .75rem;
      }
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'large')) {
  .main-nav > ul {
    &.menu > li {
      > a {
        font-size: .9rem;
      }
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'xlarge')) {
  .main-nav > ul {
    &.menu > li {
      > a {
        font-size: map-get($font-sizes, 'xxsmall');
      }
    }
  }

  .primary-content {
    article {
      ul,
      ol {
        font-size: 1.2rem;
      }
    }
  }
}
