---
---

  // start content
header {
  color: #012169;

  h2 {
    img {
      max-width: 140px;
    }
  }

  button {
    &.fa {
      padding-left: .2rem;
      padding-right: 0;
    }
  }
}

.top-bar {
  background-color: #fff;

  .top-bar-title {
    display: flex;
  }
}

.top-bar-title {
  margin: 0;
}

.logo-wrapper {
  h1 {
    font-size: 2rem;
    line-height: .8;
  }

  h2 {
    line-height: 0;
    margin: 0 .5rem 0 0;
    padding-right: .5rem;
  }
}

.main-nav {
  .menu {
    background-color: #012169;
    justify-content: center;

    li {
      padding: .5em;

      a {
        color: #fff;

        &:hover {
          color: #bfd600;
        }
      }
    }
  }

  ul {
    &.accordion-menu {
      padding-top: 0;
    }
  }
}

.mobile-nav {
  background-color: #012169;
  color: #fff;
  padding: .5rem 0;
}

.nsf-logo {
  .cell {
    position: fixed;
    top: 0;
  }

  p {
    font-size: .5rem;
  }

  img {
    width: 80px;
  }
}

.ncar-title {
  font-size: 10px;
  font-weight: 700;
  padding-left: 1.5rem;
}

@media only screen and (min-width: 540px) {
  .logo-wrapper {
    h1 {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (min-width: 640px) {
  .logo-wrapper {
    h1 {
      font-size: 3rem;
    }
  }

  .top-bar {
    padding: 1rem 0;
  }
}

@media only screen and (min-width: 900px) {
  .top-bar {
    padding: 2rem 0;
  }

  .ncar-title {
    font-size: 1rem;
  }
}