.news {
  &.no-banner {
    &.with-sidebar {
      .sidebar {
        margin-top: 0;
      }
    }
  }

  a {
    color: map-get($news-colors, 'base');

    &:hover,
    &:active {
      color: map-get($news-colors, 'light');
    }
  }

  footer {
    .footer-menu-tertiary {
      text-align: center;
    }

    .newsletter-signup {
      form {
        &::after {
          border-color: transparent map-get($news-colors, 'base');
        }

        input {
          &.button {
            background: map-get($news-colors, 'base');
          }
        }
      }
    }
  }

  h3,
  h4,
  h5,
  h6 {
    color: map-get($news-colors, 'base');
  }

  header {
    .description {
      a {
        color: map-get($colors, 'dark-blue');
      }
    }

    .submenu {
      background: transparentize(map-get($news-colors, 'base'), .08);

      li {
        &:first-child {
          a {
            background-color: map-get($news-colors, 'base');

            &::after {
              border-color: transparent map-get($news-colors, 'base');
            }
          }
        }
      }
    }
  }

  .cta-link {
    &.white-on-color {
      background: map-get($news-colors, 'dark');

      &::after {
        border-color: transparent map-get($news-colors, 'dark');
      }

      &:link,
      &:visited {
        color: map-get($colors, 'white');
      }

      &:hover,
      &:active {
        color: map-get($colors, 'lime-green');
      }
    }

    &.dark-blue-on-gray {
      &:hover {
        border-color: map-get($news-colors, 'dark');

        &::before {
          border-color: transparent map-get($news-colors, 'dark');
        }
      }

      &.back-button {
        &:hover {
          &::before {
            border-color: transparent map-get($news-colors, 'dark');
          }
        }
      }
    }
  }

  .featured-section {
    &:hover {
      background: map-get($news-colors, 'dark');
    }
  }

  .header-default-search-mobile {
    &::after {
      border-color: transparent map-get($news-colors, 'base');
    }
  }

  .is-stuck {
    .logo-wrapper {
      .acronym-wrapper {
        h1 {
          &:first-child {
            padding-bottom: 5px;
          }
        }
      }
    }
  }

  .logo-wrapper {
    .acronym-definition {
      h1 {
        font-size: 1.2rem;
      }
    }
  }

  .mobile-logo {
    .acronym {
      &::after {
        display: none;
      }
    }

    .description {
      font-size: 1.2rem;
    }
  }

  .news-archive {
    color: map-get($news-colors, 'dark');
  }

  .post-list {
    .date {
      color: map-get($news-colors, 'dark');
    }
  }

  .programs-listing {
    background-color: map-get($news-colors, 'dark');
  }

  .related-links {
    background: map-get($news-colors, 'dark');
  }

  .related-page-section {
    .details,
    .figure {
      background: map-get($news-colors, 'dark');
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: map-get($colors, 'darkest-gray');
    }
  }

  .stay-connected {
    background: map-get($news-colors, 'dark');

    .newsletter-signup {
      input {
        &[type='email'] {
          &::placeholder {
            color: map-get($news-colors, 'dark');
          }
        }
      }
    }
  }

  .sidebar-breadcrumb {
    li {
      a {
        &::before {
          border-right-color: map-get($news-colors, 'dark');
        }
      }

      &.active {
        > a {
          background: map-get($news-colors, 'dark');
          color: map-get($colors, 'white');
        }
      }
    }

    .home {
      &::before {
        border-right-color: map-get($news-colors, 'dark');
      }
    }
  }

  .title-bar {
    button {
      @include linear-gradient(bottom, map-get($news-colors, 'light'), map-get($news-colors, 'dark'));
    }
  }

  .top-bar {
    .accordion-menu {
      background: map-get($news-colors, 'light');
    }
  }

  .utility-mobile-wrapper {
    @include linear-gradient(right, map-get($news-colors, 'light'), map-get($news-colors, 'dark'));
  }
}

.news-filters {
  label {
    color: map-get($colors, 'dark-blue');
    font-family: map-get($font-families, 'poppins');
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 1.2;
    text-transform: uppercase;
  }

  select {
    width: 15rem;
  }

  .button {
    display: inline;
    margin-bottom: 0;
  }
}

.post-list {
  margin-left: 0;

  > .grid-x {
    border-bottom: solid 2px map-get($colors, 'gray');
  }

  p {
    margin-bottom: .75rem;
    margin-top: .75rem;

    &.date {
      color: map-get($colors, 'lightest-gray');
      display: inline-flex;
      font-weight: map-get($font-weights, 'bold');
      margin: 0;
      padding-right: 10px;
      position: relative;

      &::after {
        @include pseudo-element;
        background: map-get($colors, 'darkest-gray');
        height: 100%;
        right: 0;
        top: 0;
        width: 2px;
      }
    }
  }

  .article-details {
    @include uppercase;
    font-size: .875rem;

    ul {
      display: inline-flex;
      margin: 0;
      padding: 0;

      li {
        display: inline-flex;

        &:last-child,
        &:only-child {
          .comma {
            display: none;
          }
        }
      }
    }
  }

  .description {
    h3 {
      @include heading-semi-bold;
      @include heading-xsmall;
      margin-bottom: .75rem;
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'medium')) {
  .post-list {
    .table {
      border: 0;
      padding-bottom: 0;

      &.smaller-image {
        .figure {
          width: 40%;
        }

        .description {
          width: 60%;
        }
      }

      .description {
        padding-left: 40px;
        width: 40%;
      }

      .figure {
        width: 60%;
      }

      .figure,
      .description {
        display: table-cell;
      }
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
  .banner-news {
    margin-top: -60px;
    padding-top: 0;

    .stay-connected,
    .featured-section {
      box-shadow: 0 0 5px 2px rgba(map-get($colors, 'black'), .25);
    }
  }

  .news {
    footer {
      .footer-menu-tertiary {
        margin-top: 0;
      }
    }

    header {
      nav {
        background: map-get($colors, 'white');
      }
    }

    .main-nav {
      > .menu {
        > li {
          &:hover {
            > a {
              color: map-get($news-colors, 'base');
            }
          }
        }
      }
    }

  }

  .post-list {
    > .grid-x {
      border-bottom: 0;
    }
  }
}
