.news-archive {
  @include heading-xxsmall;
  border-bottom: solid 2px $dark-blue;
  display: flex;
  flex-flow: column;
  font-size: $font-size-xsmall;
  margin-bottom: 1.1rem;
  padding-bottom: 15px;
  text-align: center;
}

.news-filters {
  ul {
    &.dropdown {
      justify-content: center;

      li {
        &:hover {
          &.is-dropdown-submenu-parent {
            > a {
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }

    ul {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      box-shadow: 1px 1px 13px 0 rgba($black, .2);
      max-height: 475px;
      padding: 0;
      width: 100%;
    }

    .is-dropdown-submenu-parent {
      @include heading-semi-bold;
      @include heading-xsmall;
      text-align: center;
      width: 100%;

      > a {
        color: $dark-blue;
      }
    }

    .is-submenu-item {
      font-size: $font-size-xxsmall;
      font-weight: $font-weight-regular;
      text-transform: capitalize;

      a {
        border-bottom: 1px solid $black;
        margin: 0 .7rem;
      }

      &:last-child {
        a {
          border: 0;
        }
      }
    }
  }
}

.post-list {
  margin-left: 0;

  > .grid-x {
    border-bottom: solid 2px $gray;
  }

  p {
    margin-bottom: .75rem;
    margin-top: .75rem;

    &.date {
      color: $lightest-gray;
      display: inline-flex;
      font-weight: $font-weight-bold;
      margin: 0;
      padding-right: 10px;
      position: relative;

      &::after {
        @include pseudo-element;
        background: $darkest-gray;
        height: 100%;
        right: 0;
        top: 0;
        width: 2px;
      }
    }
  }

  .article-details {
    @include uppercase;
    font-size: 14px;

    ul {
      display: inline-flex;
      margin: 0;
      padding: 0;

      li {
        display: inline-flex;

        &:last-child,
        &:only-child {
          .comma {
            display: none;
          }
        }
      }
    }
  }

  .description {
    h3 {
      @include heading-semi-bold;
      @include heading-xsmall;
      margin-bottom: .75rem;
    }
  }
}

.search-label {
  font-size: $font-size-xxsmall;
}

.stay-connected {
  padding: 20px;

  > .grid-x {
    height: 100%;
  }

  h5 {
    color: $white;
  }

  .newsletter-signup {
    margin: auto;
    width: 75%;

    form {
      margin: 0;

      &::after {
        border-color: transparent $dark-blue;
      }
    }

    input {
      &.button {
        background: $dark-blue;
      }
    }
  }

  .social {
    .cell {
      font-size: 1.8rem;

      a {
        &:link,
        &:visited {
          color: $white;
        }

        &:hover {
          i {
            color: $dark-blue;
          }
        }
      }
    }
  }
}

.caption {
  &.align-left {
    margin-right: 1.5rem;
  }
}

@media only screen and (min-width: $medium) {
  .news-filters {
    ul {
      &.dropdown {
        display: inline-flex;
      }
    }
  }

  .post-list {
    .table {
      border: 0;
      padding-bottom: 0;

      &.smaller-image {
        .figure {
          width: 40%;
        }

        .description {
          width: 60%;
        }
      }

      .description {
        padding-left: 40px;
        width: 40%;
      }

      .figure {
        width: 60%;
      }

      .figure,
      .description {
        display: table-cell;
      }
    }
  }
}

@media only screen and (min-width: $mlarge) {
  .banner-news {
    margin-top: -60px;
    padding-top: 0;

    .stay-connected,
    .featured-section {
      box-shadow: 0 0 5px 2px rgba($black, .25);
    }
  }

  .news-archive {
    border-bottom: 0;
    border-right: solid 2px $gray-placeholder-light;
    color: $gray-placeholder-light;
    display: inline-flex;
    flex-flow: row;
    font-size: $font-size-xxsmall;
    margin-bottom: 0;
    margin-right: 20px;
    padding-bottom: 0;
    padding-right: 28px;
  }

  .news-filters {
    ul {
      ul {
        width: 220px;
      }

      .is-dropdown-submenu-parent {
        text-align: left;
      }
    }

    .is-dropdown-submenu-parent {
      text-align: left;
    }
  }

  .post-list {
    > .grid-x {
      border-bottom: 0;
    }
  }

  .stay-connected {
    h5 {
      margin-top: 0;
    }

    .newsletter-signup {
      width: 100%;
    }
  }
}

@media only screen and (min-width: $xlarge) {
  .stay-connected {
    .newsletter-signup {
      width: 75%;
    }
  }
}
