// Breakpoints
$custom-breakpoints: (
  'small': 0,
  'medium': 40rem,
  'mlarge': 56.25rem,
  'large': 64rem,
  'xlarge': 78.75rem,
  'xxlarge': 90rem
);

// Font styles
$font-families: (
  'poppins': (Poppins, sans-serif)
);

$font-weights: (
  'regular': 400,
  'semi-bold': 600,
  'bold': 700,
);

$font-sizes: (
  'xxsmall': 1rem,
  'xsmall': 1.25rem,
  'small': 1.75rem,
  'medium': 2.2rem,
  'mlarge': 3rem,
  'large': 4.6875rem
);

// Colors
$colors: (
  'white': #fff,
  'lightest-gray': #ced9e5,
  'light-gray': #dbe2e9,
  'cool-gray': #eff2f5,
  'medium-gray': #97999b,
  'gray': #63666a,
  'dark-gray': #414143,
  'darkest-gray': #332f21,
  'black': #000,
  'cool-blue': #0779bf,
  'dark-blue': #012169,
  'lime-green': #bfd600,
);

$alert-colors: (
  'primary': #d8e8ff,
  'secondary': #767676,
  'success': #3adb76,
  'warning': #ffff32,
  'alert': #e50000,
);

$gradient-colors: (
  'dark-gray': #323133,
  'light-gray': #454648
);

$default-colors: (
  'dark': #58565a,
  'light': #7f7c81
);

$ncar-colors: (
  'base': #007fa3,
  'dark': #1a658f,
  'light': #00c1d5
);

$ucar-colors: (
  'base': #28938d,
  'dark': #00797c,
  'light': #40c1ac
);

$news-colors: (
  'base': #0092cb,
  'dark': #0085ca,
  'light': #5bc2e7
);
