.members-details-list {
  dl {
    &.date {
      margin-bottom: .15rem;

      dd,
      dt {
        display: inline-flex;
      }
    }
  }

  dt {
    @include heading-semi-bold;
    @include heading-xsmall;
    font-size: .6875rem;
    margin-bottom: .25rem;
  }

  h3 {
    font-size: map-get($font-sizes, 'xxsmall');
    margin-bottom: .5rem;
    margin-top: .35rem;
  }

  .item-details {
    border-left: solid .125rem map-get($default-colors, 'light');

    p {
      font-size: .875rem;
      margin: 0;
    }
  }

  .item-titles {
    p {
      margin: 0;
    }

    ul {
      font-size: map-get($font-sizes, 'xxsmall');
      list-style-type: disc;
      margin-top: 0;

      a {
        color: map-get($gradient-colors, 'light-gray');

        &:link,
        &:visited {
          color: map-get($gradient-colors, 'light-gray');
        }

        &:hover,
        &:active {
          color: map-get($gradient-colors, 'dark-gray');
        }
      }
    }
  }

  .row {
    &.wide {
      max-width: 87.5rem;
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
  .members-details-list {
    dt {
      font-size: .8125rem;
    }
  }
}
