.related-posts {
  &.related-links {
    a {
      border: 0;
    }
  }

  a {
    border: 10px solid map-get($colors, 'darkest-gray');
    display: block;
    outline: none;
    position: relative;

    &:hover {
      border-color: map-get($default-colors, 'light');

      h4 {
        background: map-get($default-colors, 'light');
      }
    }
  }

  h4 {
    @include sentence-case;
    background: map-get($colors, 'darkest-gray');
    bottom: -1px;
    color: map-get($colors, 'white');
    font-size: map-get($font-sizes, 'xxsmall');
    font-weight: map-get($font-weights, 'regular');
    left: 0;
    letter-spacing: .06em;
    margin: 0;
    padding-top: 10px;
    position: absolute;
    width: 100%;

    i {
      font-size: 80%;
    }
  }

  img {
    width: 100%;
  }

  .featured-post {
    h4 {
      @include body-large;
      color: map-get($colors, 'white');
      font-weight: map-get($font-weights, 'semi-bold');
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
  .related-posts {
    a {
      border-width: 14px;
    }

    .last-post {
      margin-top: 0;
    }
  }
}
