.related-sections {
  a {
    height: 190px;

    &:hover {
      .figure {
        background: map-get($default-colors, 'light');
      }
    }
  }

  h4 {
    @include heading-semi-bold;
    @include heading-xsmall;
    color: map-get($colors, 'lime-green');
    font-size: .65rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  i {
    color: map-get($colors, 'white');
    display: block;
    font-size: map-get($font-sizes, 'mlarge');
    margin-bottom: 20px;
  }

  .figure {
    @include radial-gradient(map-get($gradient-colors, 'light-gray'), map-get($gradient-colors, 'dark-gray'));
    @include flex;
    justify-content: center;
    padding: 20px;
  }

  .figcaption {
    display: none;
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'medium')) {
  .related-sections {
    h4 {
      font-size: 16px;
    }

    i {
      font-size: 4rem;
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
  .related-sections {
    .figcaption {
      @include flex;
      background: map-get($colors, 'white');
      justify-content: center;
      padding: 10px;

      .excerpt {
        color: map-get($colors, 'darkest-gray');
      }

      p {
        margin: 0;
      }
    }

    .grid-container {
      margin: 0;
      max-width: none;
      padding: 0;
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'large')) {
  .related-sections {
    a {
      height: 225px;
    }

    .figcaption {
      padding: 20px;
    }
  }
}
