.sidebar-breadcrumb {
  @include radial-gradient(map-get($gradient-colors, 'light-gray'), map-get($gradient-colors, 'dark-gray'));
  box-shadow: -5px -5px 24px -4px rgba(map-get($gradient-colors, 'light-gray'), .56);
  padding: 40px 0;

  a {
    color: map-get($colors, 'light-gray');

    &:link,
    &:visited,
    &:active {
      color: map-get($colors, 'light-gray');
    }
  }

  span {
    line-height: 1.35;
  }

  li {
    a {
      padding: 5px 20px 5px 45px;
      position: relative;

      &::before {
        @include pseudo-element;
        border-bottom: 16px solid transparent;
        border-right: 15px solid map-get($default-colors, 'light');
        border-top: 16px solid transparent;
        display: none;
        height: 0;
        left: -15px;
        top: 0;
        width: 0;
      }

      &:hover {
        color: map-get($colors, 'lime-green');

        i {
          &::before {
            content: '\f140';
          }
        }
      }

      i {
        left: 20px;
        padding-top: 6px;
        position: absolute;
        top: 0;
        width: 20px;
      }
    }

    &.active {
      > a {
        background: map-get($default-colors, 'light');
        color: map-get($colors, 'white');
      }
    }
  }

  ul {
    li {
      &.active {
        @include uppercase;

        > a {
          color: map-get($colors, 'white');
        }
      }

      &:first-child {
        @include uppercase;
      }

      &:not(:first-child) {
        ul {
          > li {
            @include sentence-case;

            > a {
              padding-left: 70px;

              i {
                font-size: .65rem;
                left: 45px;
                padding-top: 9px;
              }

              &:hover {
                i {
                  font-size: 1.1rem;
                  left: 42px;
                  padding-top: 6px;
                }
              }
            }

            > ul > li {
              a {
                padding-left: 95px;

                i {
                  left: 70px;
                }

                &:hover {
                  i {
                    left: 66px;
                  }
                }
              }
            }

            &.active {
              > a > i {
                font-size: 1.1rem;
                left: 42px;
                padding-top: 6px;

                &::before {
                  content: '\f10c';
                }
              }
            }
          }
        }
      }
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;

      ul {
        display: none;
      }
    }
  }

  .home {
    @include uppercase;
    padding: 5px 20px 5px 45px;
    position: relative;

    &::before {
      @include pseudo-element;
      border-bottom: 16px solid transparent;
      border-right: 15px solid map-get($default-colors, 'light');
      border-top: 16px solid transparent;
      display: none;
      height: 0;
      left: -15px;
      top: 0;
      width: 0;
    }

    i {
      left: 20px;
      padding-top: 6px;
      position: absolute;
      top: 0;
      width: 20px;
    }

    &:hover {
      color: map-get($colors, 'lime-green');

      i {
        &::before {
          content: '\f140';
        }
      }
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'medium')) {
  .sidebar-breadcrumb {
    li {
      &.active {
        > a {
          &::before {
            @include flex;
          }
        }
      }
    }
  }
}
