.spotlight-wrapper {
  a {
    &:hover {
      background-blend-mode: normal;
    }
  }
}

.spotlight {
  background-blend-mode: multiply;
  background-color: map-get($colors, 'light-gray');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  position: relative;

  h4 {
    @include heading-semi-bold;
    @include heading-xsmall;
    color: map-get($colors, 'lime-green');
    margin-bottom: 0;
  }

  h5 {
    @include heading-mlarge;
    @include heading-semi-bold;
    color: map-get($colors, 'white');
  }

  h4,
  h5 {
    @include text-shadow(rgba(map-get($colors, 'black'), .5));
    font-weight: map-get($font-weights, 'bold');
  }

  .inner {
    width: 100%;
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
  .spotlight-wrapper {
    margin-bottom: 3rem;
  }

  .spotlight {
    height: 100%;
  }
}
