a {
  .cta-link {
    text-decoration: none;
  }
}

.cta-link {
  @include heading-semi-bold;
  @include heading-xsmall;
  display: inline-block;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  position: relative;
  transition: 200ms ease-in-out;

  &::after,
  &::before {
    @include pseudo-element;
    height: 0;
    right: -18px;
    top: 0;
    transition: 200ms ease-in-out;
    width: 0;
  }

  &.dark-blue-on-gray {
    border-color: map-get($colors, 'dark-blue');
    color: map-get($colors, 'dark-blue');

    &:hover {
      border-color: map-get($default-colors, 'dark');

      &::before {
        border-color: transparent map-get($default-colors, 'dark');
      }
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: map-get($colors, 'dark-blue');
    }

    &::after {
      border-color: transparent map-get($colors, 'cool-gray');
    }

    &::before {
      border-color: transparent map-get($colors, 'dark-blue');
    }

    // for the back button
    &.back-button {
      &::after {
        border-color: transparent map-get($colors, 'light-gray');
      }

      &::before {
        border-color: transparent map-get($colors, 'dark-blue');
      }

      &:hover {
        &::before {
          border-color: transparent map-get($default-colors, 'dark');
        }
      }
    }
  }

  &.large {
    border: 3px solid;
    font-size: 11px;
    height: 30px;
    padding: 6px 6px 1px 12px;
    text-decoration: none;

    &::after {
      @include button-arrow(transparent map-get($colors, 'light-gray'), 12px 0 12px 12px);
      right: -12px;
    }

    &::before {
      @include button-arrow(transparent map-get($colors, 'dark-blue'), 14px 0 14px 14px);
      right: -17px;
      top: -2px;
    }

    // for the back button, only used with dark-blue-on-gray class
    &.back-button {
      margin-left: 2rem;
      padding-left: 15px;
      padding-right: 30px;

      &::after {
        border-width: 12px 12px 12px 0;
        left: -12px;
      }

      &::before {
        border-width: 14px 14px 14px 0;
        left: -16px;
      }
    }
  }

  &.small {
    border: 3px solid;
    font-size: 11px;
    font-weight: map-get($font-weights, 'bold');
    padding: 7px 10px;

    &::after {
      @include button-arrow(transparent map-get($colors, 'cool-gray'), 13px 0 13px 11px);
      right: -11px;
      top: 0;
    }

    &::before {
      @include button-arrow(transparent map-get($colors, 'dark-blue'), 14px 0 14px 14px);
      right: -17px;
      top: -1px;
      width: 0;
    }
  }

  &.lime-green-on-gray {
    background: map-get($gradient-colors, 'light-gray');
    border-color: map-get($colors, 'white');
    color: map-get($colors, 'white');

    &:hover {
      border-color: map-get($colors, 'lime-green');

      &::before {
        border-color: transparent map-get($colors, 'lime-green');
      }
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: map-get($colors, 'white');
    }

    &::before {
      border-color: transparent map-get($colors, 'white');
    }

    &::after {
      border-color: transparent map-get($gradient-colors, 'light-gray');
    }
  }

  &.white-on-color {
    background: map-get($colors, 'white');
    border-color: map-get($colors, 'white');

    &::before {
      border-color: transparent map-get($colors, 'white');
    }

    &::after {
      border-color: transparent map-get($colors, 'white');
    }

    &:link,
    &:visited {
      color: map-get($default-colors, 'dark');
    }

    &:hover,
    &:active {
      color: map-get($default-colors, 'dark');
    }
  }
}

@media only screen and (min-width: map-get($custom-breakpoints, 'mlarge')) {
  .cta-link {
    &.large {
      font-size: 19px;
      height: 46px;
      padding: 10px 15px 10px 30px;

      &::after {
        border-width: 20px 0 20px 18px;
        right: -17px;
      }

      &::before {
        border-width: 22px 0 22px 19px;
        right: -22px;
      }

      &.back-button {
        &::after {
          border-width: 20px 18px 20px 0;
          left: -18px;
        }

        &::before {
          border-width: 22px 19px 22px 0;
          left: -22px;
        }
      }
    }
  }
}
