.social {
  font-size: 1.2rem;
  line-height: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    font-size: 1.5rem;

    &:link,
    &:visited {
      color: $white;
    }

    &:hover {
      i {
        color: $lime-green;
      }
    }
  }
}
